@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1250px;
  margin: 0 auto;
}

.search-input {
  background-image: url("../public/search-logo.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 11px center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  padding-left: 40px;
  font-size: 18px;
  background-color: #F9F9F9;
  display: flex;
  background-image: url("../public/hero-planet.png");
  background-repeat: no-repeat;
  background-size: 518px;
  background-position: right center;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active-main {
  background-color: #46A358 !important;
}

.hero-mobile-banner {
  padding-left: 23px;
  border-radius: 30px;
  background-image: url("../public/hero-mobile-back-bg.png"), url("../public/hero-mobile-bg.png");
  background-repeat: no-repeat no-repeat;
  background-size: 115%, 180px;
  background-position: center, right center;
  background-color: transparent;
}

.ant-slider-track {
  background-color: #46A358 !important;
}

.ant-slider-handle::before,
.ant-slider-handle::after {
  background-color: #46A358 !important;
  border-radius: 50%;
  border-color: #46A358;
}

.ant-tabs-tab {
  padding: 0 !important;
  padding-bottom: 12px !important;
}

.ant-tabs-nav {
  margin-bottom: 0 !important;
}

.ant-tabs-nav::before {
  border-bottom: 0 !important;
}

.ant-tabs-tab-btn {
  color: #46A358 !important;
  font-size: 15px;
  font-weight: bold;
  line-height: 16px !important;
}
.ant-pagination-item{
  border: 1px solid #E5E5E5 !important;
}
.ant-pagination-item-active{
  background-color: #46A358 !important;
  border-color: #46A358 !important;
}
.ant-pagination-item-active > a{
  color: white !important;
}
.product-cards-img:hover > .product-cards-list{
  bottom: 0;
}
.ant-modal-footer{
  display: none;
}